.signUpFormBlock{
    display: grid;
    width: 50%;
    margin: auto;
    grid-template-columns: 30% 1fr;
    padding: 20px;
    gap: 10px;
    align-items: center;
    background-color: #ffffff4d;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.signUpFromMainDiv{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.signUpFromMainDiv::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url(../images/moutain-2.jpg) center/cover no-repeat fixed; */
    background: url(../../images/moutain-2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(4px);
}

/* .signUpFromMainDiv{
    height: 100%;
    display: flex;
    align-items: center;
} */
.formImg{
    height: 400px;
    width: 100%;
}
.formImg img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    animation: floatTopToBottom 1.5s infinite alternate-reverse both;
}
@keyframes floatTopToBottom {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
.form-group{
    position: relative;
}
.form-group label{
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 7px;
    transition: 0.3s ease all;
    font-size: 12px;
    color: #061a2c;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 30ch;
}
.form-group input:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label{
    top:-9px;
    font-size:12px;
    background-color: white;
    color: #061a2c;
    font-weight: 400;
    padding-inline: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 20ch;
}

.form-group input:focus{
    border: 1px solid #061a2c;
    outline: none;
    box-shadow: none;
}
.textClass{
    color: #00375E;
}
.errorMsg{
    border-radius: 8px;
}