.signUpFormBlock{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: calc(100vh - 200px);
    margin: auto;
    padding: 20px;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0,0,0, 0.5);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.loginRegisterForm{
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.signUpFromMainDiv{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.signUpFromMainDiv::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url(../images/moutain-2.jpg) center/cover no-repeat fixed; */
    background: url(../../images/moutain-2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(4px);
}

/* .signUpFromMainDiv{
    height: 100%;
    display: flex;
    align-items: center;
} */
.formImg{
    height: 300px;
    flex: 1 0 25vw;
}
.formImg img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    animation: floatTopToBottom 1.5s infinite alternate-reverse both;
}
@keyframes floatTopToBottom {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}