/* Home Page Styling */
.homePageClass,.aboutPageClass,.product,.userProfilePageClass,.allBlogsPageClass,.blogDetailsPageClass{
    /* height: ; */
    height: calc(100vh - 80px);
    overflow-y: auto;
    padding: 15px;
}
.homePageClass {
    position: relative;
    /* background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;
    background-image: url(../images/ajju_goa-removebg-preview.png); */
}

/* .homePageClass::before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
} */

.main-block {
    /* background: linear-gradient(to right, #151516, #3c3e40, #666c6c, #979d9a, #151516); */
    /* background-color: var(--primary); */
    /* position: absolute; */
    left: 0;
    top: 0;
    height: 100%;
    /* width: 62%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    gap: 2em;
}
.overlay-aqua{
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    background-color: aqua;
    width: 100px;
    height: 100px;
    z-index: -1;
}
.overlay-aqua:nth-child(1){
    top: 0;
    right: 10px;
    width: 80px;
    height: 80px;
}
.overlay-aqua:nth-child(2){
    top: 100px;
    left: 400px;
    width: 150px;
    height: 150px;
}
.overlay-aqua:nth-child(3){
    bottom: 150px;
    right: 200px;
    width: 50px;
    height: 50px;
}
.overlay-aqua:nth-child(4){
    bottom: 100px;
    right: 50%;
}
.overlay-aqua:nth-child(5){
    bottom: 10%;
    left: 20%;
}


/* color: rgb(4,64,71); */
.homePageTitle {
    color: rgb(247, 220, 79);
    font-size: clamp(2.2rem, 10vw, 5vw);
    font-weight: 200;
    word-spacing: 4px;
    line-height: 56px;
    font-family: 'Red Hat Display', sans-serif;
    pointer-events: none;
}

.aboutMeBtn .btns{
    display: flex;
    gap: 10px;
    align-items: center;
}
.btns .orClass{
    color: aqua;
    font-size: 1.1rem;
    font-weight: 400;
}
.mernClass {
    color: rgb(247, 220, 79);
}

.subHeading {
    color: aqua;
    line-height: 43px;
}

.headingBlock {
    text-align: left;
    pointer-events: none;
}

.aboutMeBtn {
    left: 50%;
    display: flex;
    gap: 10px;
    bottom: 60px;
    z-index: 3;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    transition: all 0.5s ease-in;
}
/* AboutPage Styling */
.aboutPageClass{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.profileSection{
    background-color: rgba(0,0,0,.4);
    -webkit-clip-path: polygon(15% 100%,100% 60%,100% 0,0 0,0 80%);
    clip-path: polygon(50% 100%, 100% 70%, 100% 0, 0 0, 0 70%);
    display: flex;
    justify-content: space-between;
    padding: 0px 2em;
    align-items: center;
    padding-bottom: 3em;
    height: 35vh;
}
.aboutImageClass{
    height: 150px;
    width: 150px;
    border: 2px solid aqua;
    border-radius: 1000px;
    overflow: hidden;
}
.aboutImageClass img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileBlock{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}
.profileBlock h1{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about_card_block{
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
}
.aboutBgImg{
    width: 100%;
    padding: 10px;
    position: relative;
    box-shadow: 0 12px 30px -20px #ffffff91;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    /* background-color: rgba(0, 0, 0, 0.4); */
}
.aboutBgImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileIconImage{
    position: absolute;
    z-index: 2;
    left: 20px;
    bottom: -75px;
    height: 150px;
    border-radius: 4px;
    width: 150px;
    border: 5px solid #fff;
    overflow: hidden;
}
.profileIconImage img{
    border-radius: 4px;
    scale: 1.1;
}
.mernClass{
    width: 100%;
    position: relative;
    z-index: 4;
}
.socialMediaClass div{
    padding: 5px;
    cursor: pointer;
    border-radius: 1000px;
    background-color: rgba(0, 255, 255, 0.423);
}
.App-logo{
    margin: auto;
}
.mernClass h1{
    letter-spacing: 2rem;
    font-size: 8rem !important ;   /* font size */
    font-weight: 200;
}
.mernClass span:nth-child(1){
    color: #00ED64;
}
.mernClass span:nth-child(2){
    color: #e91e63;
}
.mernClass span:nth-child(3){
    color: aqua;
}
.mernClass span:nth-child(4){
    color: #00ED64;
}
.address{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

/* Products Styling */
.productList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px 0px;
}

.searchClass {
    display: flex;
    gap: 10px;
    align-items: center;
}
.searchClass input{
    flex: 1;
}

.productTabsClass {
    display: flex;
    gap: 15px;
    align-items: center;
}

.product .active {
    background-color: var(--primary) !important;
    color: #fff !important;
}
.product .nav-item .nav-link:hover{
    border: none !important;
    outline: none !important;
}
.product .nav-item .nav-link{
    border: none !important;
    outline: none !important;
}
.product .nav-item .nav-link.active{
    border: 1px solid #fff !important;
    outline: none !important;
    color: var(--aqua) !important;
}

.productsClass {
    text-decoration: none;
    justify-content: space-between;
}

.productsClass .title {
    padding: 10px;
}

.productsClass .title h1 {
    max-width: 200px;
    text-align: left;
    font-size: 17px;
    overflow: hidden;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.productsClass .title p {
    display: -webkit-box;
    /* max-width: 200px; */
    font-size: 16px;
    -webkit-line-clamp: 2;
    font-size: 13px;
    color: #000;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.productImage {
    height: 400px;
    width: 100%;
    border-bottom: 1px solid;
    padding: 10px 0px;
    overflow: hidden;
}

.productImage img {
    transition: 0.5s all ease-in;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.social-icons {
    position: absolute;
    top: 0px;
    right: -500px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    transition: 0.5s all ease-in-out;
}

.productCart {
    position: relative;
    overflow: hidden;
}

.productImage:hover img {
    scale: 0.9;
    transition: 0.5s all ease-in;
}

.productCart:hover .social-icons {
    right: 0px;
    transition: 0.5s all ease-in;
}

.iconsStylingClass {
    color: white;
    font-size: 18px;
}

/* getAllUserDataClass */
.getAllUserDataClass{
    padding: 10px;
    display: flex;
    gap: 10px;
    padding: 15px;
    flex-wrap: wrap;
    height: calc(100vh - 109px);
    overflow-y: auto;
}
.successClass{
    background-color: rgba(0, 255, 255, 0.466);
    color: var(--dark);
}
.noSuccessClass{
    background-color: rgba(0, 0, 0, 0.5);
}
.mernCardMainBlockClass{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    /* grid-template-rows:minmax(300px, 300px); */
}
.getUserCardClass{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    transition: all 0.5s ease-in;
    position: relative;
    z-index: 2;
    padding: 7px;
}
.activeUser{
    position: absolute;
    top: 7px;
    right: 8px;
    height: 10px;
    width: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 255, 0, 0.668);
    color: #ffffff;
    background-color: var(--lime);
    padding: 0px 5px;
    border-radius: 8px;
    border-radius: 50%;
}
.nonActiveUser{
    position: absolute;
    top: 7px;
    right: 8px;
    height: 10px;
    width: 10px;
    box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.821);
    color: #ffffff;
    background-color: var(--red);
    padding: 0px 5px;
    border-radius: 50%;
}
.overlaycard{
    position: absolute;
    clip-path: circle(6.9% at 100% 100%);
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.card-left-block,.card-right-block{
    position: relative;
    z-index: 1;
    height: 100%;
}
.card-left-block{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}
.card-left-block img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.getUserCardClass:hover .overlaycard{
    transition: all 0.5s ease-in;
    clip-path: circle(73.8% at 48% 52%);
    background-color: rgba(0, 255, 255, 0.781);
}
.trashIconClass{
    color: rgb(237, 63, 63);
    font-size: 20px;
}
.card-right-block{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.allSignUpUsersActionIconClass{
    display: flex;
    gap: 10px;
    align-items: center;
}

.allSignUpUsersActionIconClass a{
    padding: 10px;
    background: #000000;
    color: #ffffff;
    font-size: 20px;
}

.allSignUpUsersActionIconClass a svg path{
    stroke: #ffffff !important;
}
.userHeadingClass{
    width: 100%;
    text-align: left;
}
.userHeadingClass h2{
    font-size: 1rem;
    text-align: left;
    text-transform: uppercase;
}
.userHeadingClass small{
    text-align: left;
    text-transform: capitalize;
}

/* Signup user details */
.signupUserDetailsPageClass{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: calc(100vh - 109px);
    overflow-y: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}
/* .signupUserDetailsPageClass::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/moutain-2.jpg) center/cover no-repeat fixed;
    background: url(../images/moutain-14.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(4px);
} */
.imageUpload{
    position: inherit;
    bottom: 9px;
    left: 8px;
}
.postBlogsClass{
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}
.blogCard{
    background-color: #00000095;
    color: #fff;
    border-radius: 8px;
    /* border-top-right-radius: 8px;
    border-top-left-radius: 8px; */
    overflow: hidden;
}
.blogImg{
    height: 300px;
    width: 100%;
}
.blogDetailsImg{
    height: calc(100vh - 350px) !important;
}
.blogImg img{
    height: 100%;
    width: 100%;
    /* scale: 1.1; */
}
.blog-likes{
    display: flex;
    border-bottom: 1px solid #ccc;
}
.blog-likes > span{
    padding: 5px 16px;
    border-right: 1px solid #ccc;
    border-bottom: none;
    cursor: pointer;
}
.blog-info{
    color: #000;
    text-align: left;
    padding: 15px;
}
.blog-info h1{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}
.createBlogDetails{
    text-transform: uppercase;
}
.createBlogDetails:nth-child(1){
    color: #10fd3d;
}
.createBlogDetails:nth-child(2){
    color: #e1fc0f;
}
.blogsCommentsClass{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.blogDetailsShowAllBlogsBLock{
    cursor: pointer;
}
/* blogDetailsPageClass */
.spinningLoad{
    height: 100%;
}
.blogDetailsPageClass{
    display: flex;
    height: calc(100vh - 80px);
    overflow-y: auto;
    flex-wrap: wrap;
    gap: 10px;
}
.blogDetailsShowSingleBlog{
    flex: 999 0 300px;
    overflow: auto;
    background-color: #000;
    overflow-y: auto;
    height: 100%;
}
.blogDetailsShowSingleBlog .blogDetailsImage{
    height: 400px;
    width: auto;
}
.blogDetailsShowSingleBlog .blogDetailsImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blogDetailsShowAllBlogs{
    flex: 1 0 300px;
    color: #000;
    height: 100%;
    overflow-y: auto;
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (max-width: 540px) {
    .blogDetailsShowSingleBlog,.blogDetailsShowAllBlogs{
        height: auto !important;
    }
}
button:hover{
    background-color: unset !important;
}
.blogDetailsTextareaClass{
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.blogDetailsDesClass{
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}
.blogDetailsRightBlockCardImageClass{
    height: 15vh;
}
.blogDetailsRightBlockCardImageClass img{
    height: 100%;
    width: 100%;
}
.allBlogsPageClass{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blogsActionButtons{
    display: flex;
    gap: 10px;
}