.App {
  text-align: center;
  position: relative;
  height: 100vh;
}

.Header{
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.withOutSideNavAppClass {
  text-align: center;
  position: relative;
  height: 100vh;
}

.SideNavOpenClass{
  position: fixed;
  left: 0px;
  top: 10px;
  background-color: aqua;
  color: #040b14;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
}

.SideNavOpenIconHide{
  position: fixed;
  left: 0px;
  background-color: aqua;
  top: 10px;
  color: #040b14;
  font-size: 20px;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  rotate: 180deg;
  padding: 10px;
}

.appSideNavBodyContentClass{
  display: flex;
  height: 100%;
  justify-content: flex-end;
  /* background-color: #040b14; */
}

.App-logo {
  height: 100px;
  width: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header{
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: darkblue;
  color: #fff;
  justify-content: space-between;
}
.App-link {
  color: #61dafb;
}
.App-List{
  list-style:none;
  display: flex;
  gap: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Side Nav */
.sideNavLinks{
  display: flex;
  justify-content: space-between;
  color: #fff !important;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}
.sideNavLinks a{
  text-decoration: none;
  color: #fff;
}
.sideNavLinks:hover{
  color: #fff;
}
.sideNavWidthClass{
  height: 91%;
  background-color: aqua;
  width: 20%;
  position: fixed;
  left: 0;
  bottom: 0;
  transition:.4s ease-in all;
  /* box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5); */
}
.sideNavHideClass{
  background-color: aqua;
  position: fixed;
  bottom: 0;
  left: -500px;
  height: 91%;
  transition:.4s ease-in-out all;
  z-index: 999;
}
.links:has(.active){
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #61dafb25;
}
.links:hover{
  background-color: #61dafb25;
  cursor: pointer;
}
.links > a{
  text-decoration: none !important ;
  color: #000;
}

.right-block{
  transition: 0.5s all ease-out;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #CBF7FF; */
  background-color: #00375E;
}
.rightBlockWithoutSideNav{
  background-color: #00375E;
  width: 100%;
  /* transition: all 0.5s ease-out; */
}


/* Webkit browsers (Safari, Chrome, Edge) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: aqua; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000; /* Color of the thumb on hover */
}

/* Side Nav */
.sideNavLeftArrowClass{
    text-align: right;
    /* background-color: #fff; */
    padding: 10px;
    cursor: pointer;
}