@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--light);
}

:root{
  /* for bg */
  --primary: #010141;
  --light:#ffffff;
  --dark:#000000;
  --lime:rgb(61, 245, 61);
  --red: rgba(248, 12, 12, 0.949);
  --aqua:aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
h1,h2,h3,h4,h5,h6{
  margin: 0px;
  padding: 0px;
} */
a{
  color: #000 !important;
  text-decoration: none;
}
.content,.mainBody{
  height: 100%;
}

/* Scrolling Css */
.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: aqua;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #fff;
  color: aqua;
  border: 2px solid #551B54;
}
@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}

.loader-container {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: var(--primary);
  z-index: 1;
}

.loader,
.loader:before,
.loader:after {
  background: aqua;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: aqua;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* styles.css */
.fade-enter {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-exit-active {
  opacity: 0;
}
.mernInputStyleClass{
  display: flex;
  align-items: center;
}

.mernInputStyleClass input,textarea{
  /* border: none; */
  background-color: transparent;
  padding: 5px 10px;
  resize: none;
  color: #fff;
  outline: none;
}
.mernInputStyleClass input:focus,
.mernInputStyleClass textarea:focus{
  outline: none;
  border: 1px solid aqua;
  color: #fff;
  box-shadow: none;
  background-color: transparent;
}
.mernInputStyleClass input[disabled]{
  color: #fff;
  /* border: 1px solid aqua; */
  background-color: transparent;
}
.userProfile{
  position: relative;
  display: flex;
  justify-content: center;
}
.userImage{
  cursor: pointer;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 3px solid var(--aqua);
  overflow: hidden;
  transition: all 0.4s ease;
  position: relative;
}
.userImage > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.editIcon{
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 99;
  width: 30px;
  cursor: pointer;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
}

.mernInputStyleClass {
  position: relative;
}
.mernInputStyleClass  label{
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 7px;
  transition: 0.3s ease all;
  font-size: 12px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 30ch;
}
.mernInputStyleClass  input:focus ~ label,
.mernInputStyleClass  input:not(:placeholder-shown) ~ label{
  top:-9px;
  font-size:12px;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  font-weight: 400;
  padding-inline: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 20ch;
}
.mernInputStyleClass input{
  border: 1px solid aqua;
  border-right-width:6px;
}

.mernInputStyleClass  input:focus{
  border: 1px solid aqua;
  outline: none;
  box-shadow: none;
}
.authHeadingClass{
  color: aqua;
  font-size: 2rem;
}
.errorMsg{
  border-radius: 8px;
}
.signUpNavigateClass{
  color: aqua !important;
  text-transform: uppercase;
  font-size: .9rem;
}
.mernArrowIconClass{
  background: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='aqua' stroke-width='0' viewBox='0 0 1024 1024' class='rightArrowIcon' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M533.2 492.3L277.9 166.1c-3-3.9-7.7-6.1-12.6-6.1H188c-6.7 0-10.4 7.7-6.3 12.9L447.1 512 181.7 851.1A7.98 7.98 0 0 0 188 864h77.3c4.9 0 9.6-2.3 12.6-6.1l255.3-326.1c9.1-11.7 9.1-27.9 0-39.5zm304 0L581.9 166.1c-3-3.9-7.7-6.1-12.6-6.1H492c-6.7 0-10.4 7.7-6.3 12.9L751.1 512 485.7 851.1A7.98 7.98 0 0 0 492 864h77.3c4.9 0 9.6-2.3 12.6-6.1l255.3-326.1c9.1-11.7 9.1-27.9 0-39.5z'%3E%3C/path%3E%3C/svg%3E") center / cover no-repeat;
  height:20px;
  width:20px;
  animation: moveToRightAndLeft 1s infinite alternate-reverse both;
  display: block;
}
.btnLoginBtn:hover {
  transition: all 0.5s ease-in;
  background-color: var(--primary);
}

.btnLoginBtn::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  width: 100%;
  background-color: aqua;
}

.btnLoginBtn {
  color: aqua !important;
  letter-spacing: 6px;
  padding: 1rem;
  font-size: 80% !important;
  display: flex;
  position: relative;
  border: 1px solid rgba(0, 255, 255, 0.34);
  align-items: center;
  gap: 10px;
}

.rightArrowIcon {
  color: aqua;
  font-size: 20px;
  animation: moveToRightAndLeft 1s infinite alternate-reverse both;
}

@keyframes moveToRightAndLeft {
  0% {
      transform: translateX(-5px);
  }

  100% {
      transform: translateX(5px);
  }
}

.registerForm{
  isolation: isolate;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.signUpUserDetailsFieldsClass{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10px;
}
.signUpUserDetailsFieldsSingleRowClass{
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
  gap: 10px;
}
.registerFormBlock{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.userRegister{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.userRegister .signUpUserDetailsFieldsSingleRowClass{
  flex: 1 0 300px;
}
.userDetailsLeftImageBlock{
  flex: 3 0 300px;
  display: flex;
  justify-content: center;
}
.leftUserImage{
  height: 50vh;
  width: 30vw;
  min-width: 320px;
  position: relative;
  cursor: pointer;
}
.leftUserImage::before{
  content: '';
  position: absolute;
  width: 90%;
  height: 80%;
  border: 1px solid aqua;
  border-top: none;
  border-left: none;
  right: -10px;
  bottom: -10px;
}
.leftUserImage::after{
  content: '';
  position: absolute;
  width: 90%;
  height: 80%;
  border: 1px solid aqua;
  border-bottom: none;
  border-right: none;
  left: -10px;
  top: -10px;
}
.leftUserImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.spinner-border{
  width: 20px !important;
  height:  20px !important;
}
.commonButtonStyle{
  padding: 5px 10px;
  font-size: 14px;
  background-color: rgba(0,0,0,0.4);
  color: var(--light);
  border: 1px solid var(--light);
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
}
@media (max-width:768px) {
  body{
    font-size: 14px;
  }
  .formImg{
    display: none;
  }
}

.buttonClass,.buttonClassWithoutHover{
  padding: 5px 15px;
  background-color: #000000 !important;
  color: #fff !important;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: all 0.4s ease-out;
}
.buttonClass:hover{
  background-color: #fff !important;
  color: #000 !important;
  transition: all 0.4s ease-in;
}
